.settings-widget {
  position: fixed;
  top: 50%;
  right: 0;
  padding: 0.5rem;
  border-radius: 1rem 0 0 1rem;
  transform: translateY(-50%);

  .icon {
    padding: 0.25rem;
    border-radius: 50%;
    color: white;
    cursor: pointer;
  }
}
.panel {
  height: 100%;
  width: 380px;
  padding: 1.6rem;
  background-color: white;
  transition: all 0.3s ease;
  position: relative;
  z-index: 100;
  overflow-x: hidden;

  .btn-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .wrapper {
    border: 1px solid #eee;
    border-radius: 0.5rem;
    height: 100%;
    // margin-left: 0.75rem;
    margin-bottom: 1.5rem;
    position: relative;

    .layout-label {
      position: absolute;
      background-color: white;
      padding: 0 0.25rem;
      top: -1rem;
      left: 0.35rem;
    }
  }
}
